.suduko {
    display: flex;
    flex: 1 100%;
    border: 2px solid black;
}

.suduko-title {
    font-weight: bold;
    font-size: 1.6em;
}


.cell {
   width: 50px;
   height: 50px;
   font-size: 26px;
   text-align: center;
   border: 1px solid grey;
}

.cell-highlighted {
    width: 50px;
    height: 50px;
    font-size: 26px;
    text-align: center;
    border: 1px solid grey;
    background-color: #dedede;
}
